@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';
.header {
    display: flex;
    flex-direction: column;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 3vh;
}

.title {
    font-size: 1.063em;
    font-weight: 900;
    color: var(--ion-color-black);
}

.cont-btn1 {
    margin: 2.5vh;
    display: flex;
    width: 83%;
    justify-content: flex-end;
}

.container1 {
    display: flex;
    flex-direction: column;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 1vh;
}

.separator {
    border-bottom: 1px solid #EDEDED;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 1vh;
}

.buttonStyle {
    color: var(--ion-color-black);
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    width: 80vw;
    height: 2.3rem;
    border-radius: 25px;
    border: solid var(--ion-color-black) 1.2px;
    --background: var(--ion-color-primary-contrast);
}

.ion-icon {
    margin-left: 24px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    margin-top: 3%;
    top: 50%;
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionImgs {
    height: 65vh;
    overflow-y: scroll;
}