<ion-content>
    <swiper class="swiper" pager="true" [initialSlide]="0" [slidesPerView]="1" [autoplay]="true" [loop]="true" #slideWithNav>
        <ng-template swiperSlide class="swiperSlide">
            <img [src]="this.room.photos?.[0]" alt=”slide-1”/>
        </ng-template>
        <ng-template swiperSlide>
            <img [src]="this.room.photos?.[1]" alt=”slide-2”/>
        </ng-template>
        <ng-template swiperSlide>
            <img [src]="this.room.photos?.[2]" alt=”slide-3” />
        </ng-template>
    </swiper>
    <div class="btn-back" [routerLink]="['/rooms-list']">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    <div class="room-name">
        <h5>Seccion</h5>
        <span class="caption">{{this.room.type}}</span>
    </div>
    <div class="description">
        <p class="body-1">{{this.room.description}}</p>
    </div>
    <div class="detail-room">
        <h6>Detalles de la habitación</h6>
        <div class="beds">
            <span class="body-2">{{this.room.numBeds}} camas dobles</span>
            <ion-icon name="bed-outline"></ion-icon>
        </div>
        <span class="body-2">Tamaño de la habitación: 25 metros cuadrados </span>
    </div>
    <div class="footer">
        <h6>$ {{this.room.price}}/noche </h6>
        <ion-button class="ion-btn-secondary" fill="outline" style="text-transform:none" [routerLink]="['/backup-interface']" (click)="setBooking()">Reservar</ion-button>
    </div>
</ion-content>