<ion-content >
  <div class="container">
    <h1 class="title" >Bienvenid/a!</h1>
    <div class="imgCont">
      <img src="/assets/images/traveling.png" alt="">
    </div>
    <span class="spanStyle1">Ingresa tu cuenta</span>
    <ion-input placeholder="Email" class="inputStyle"></ion-input>
    <ion-input placeholder="Contraseña" class="inputStyle"></ion-input>
    <div class="cont-btn"><button class="buttonStyle">Iniciar Sesión</button></div>
    <div class="separate">
      <span>o</span>
    </div>
    <button class="btn-google"><ion-icon name="logo-google"></ion-icon></button>
    <div class="cont-btn">
      <span class="spanStyle2">No tienes Cuenta?</span>
      <button class="btn-Word">Registrate</button>
    </div>

  </div>
</ion-content>
