<ion-content #content [scrollEvents]="true">
  <section  >
    <div class="header">
      <h1 class="title" >HELLO</h1>
      <span class="slogan">Bienvenido a Pakay Booking </span>
    </div>
    <div class="imgCont">
      <img src="/assets/images/Vector1.svg" alt="">
    </div>
    <form class="formulario" [formGroup]="ionicForm" (ngSubmit)="submit()">
      <ion-input placeholder="Email" type="text" class="inputStyle" formControlName="email"  (ionFocus)="setFocus()" required></ion-input>
      <ion-input placeholder="Contraseña" type="password" class="inputStyle"  formControlName="password" (ionFocus)="setFocus()"></ion-input>
      <div class="btns">
        <div class="cont-btn1"><ion-button type="submit" class="buttonStyle" (click)="goToRoomList()">Iniciar Sesión</ion-button></div>
        <div class="separate">
          <span>|</span>
        </div>
        <button class="btn-google"><ion-icon name="logo-google"></ion-icon></button>
      </div>
    </form>
    <div class="cont-btn">
      <span class="spanStyle2">No tienes Cuenta?</span>
      <button class="btn-Word" (click)="goToRegisterView()">Registrate</button>
    </div>
    <footer class="footer">
      <span>© 2022 Todos los derechos reservados</span>
    </footer>
  </section>
</ion-content>
