/**/
.header {
    display: flex;
    margin: 3.5vh;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}

.title {
    font-size: 1.063em;
    font-weight: 600;
    color: var(--ion-color-black);
}

.backbtn{
    margin-right: 2vh;
    font-size: 1em;
}

/**/
.container1 {
    display: flex;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 2vh;
}

.images {
    display: flex;
    width: 55%;
    height: auto;
    margin-right: 3vw;
}

.images img {
    width: 100%;
    border-radius: 10px;
}

.contInfo{
    display: flex;
    width: 35%;
}
.titleImg {
    margin-top: 0;
    font-size: 0.625em;
    color: var(--ion-color-grey-primary);
}

.infoImg {
    font-size: 0.813em;
    font-weight: 600;
}

/**/
.container2 {
    display: flex;
    flex-direction: column;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 2vh;
}

.titleCont2 {
    margin-top: 0;
    font-size: 1.063em;
    font-weight: 600;
    color: var(--ion-color-black);
}

.editCont {
    display: flex;
    width: 100%;
    margin-top: 2vh;
}

.edit {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 4vh;
}

.dateEdit {
    font-size: 0.813em;
    font-weight: 600;
    color: var(--ion-color-black);
}

.infoEdit {
    font-size: 0.75em;
    font-weight: 400;
    color: var(--ion-color-grey-primary);
}

.editBtn {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

/**/
.container3 {
    display: flex;
    flex-direction: column;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 2vh;
}

.titleCont3 {
    margin-top: 0;
    font-size: 1.063em;
    font-weight: 600;
    color: var(--ion-color-black);
}

.price {
    display: flex;
}

.infoPrice {
    display: flex;
    width: 50%;
    color: var(--ion-color-grey-primary);
    font-size: 0.75em;
    font-weight: 400;
}

.infoPrice2 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    color: var(--ion-color-grey-primary);
    font-size: 0.75em;
    font-weight: 400;
}

.infoPrice3 {
    display: flex;
    width: 50%;
    color: var(--ion-color-black);
    font-size: 0.813em;
    font-weight: 600;
}

.infoPrice4 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    color: var(--ion-color-black);
    font-size: 0.813em;
    font-weight: 600;
}

/**/
.container4 {
    display: flex;
    flex-direction: column;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 2vh;
}

.selectPayment {
    width: 100%;
    height: 5.5vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding-left: 1.5em;
    font-weight: 600;
    font-size: 0.813em;
    background-color: var(--ion-color-primary-contrast);
    color: var(--ion-color-black);
    text-align: start;
}

/*modal*/
.modalCont {
    --width: 75%;
    --min-width: 75vw;
    --height: 27vh;
    --border-radius: 12px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.modalTitle {
    color: var(--ion-color-black);
    font-size: 1.063em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modalLabel{
    color: var(--ion-color-black);
    font-size: 0.75em;
    font-weight: 400;
}
.btnModal{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
/*botones*/
.buttonStyle {
    color: var(--ion-color-black);
    font-size: 0.75em;
    width: 20vw;
    height: 2.3rem;
    border-radius: 6px;
    border: solid var(--ion-color-black) 1.2px;
    --background: var(--ion-color-primary-contrast);
}

.buttonStyle:hover {
    background: rgb(212, 212, 212);
}
.buttonStyle2 {
    color: var(--ion-color-primary-contrast);
    font-size: 0.75em;
    width: 25vw;
    height: 2.3rem;
    --border-radius: 6px;
    --background: var(--ion-color-primary);
    margin-left: 4vw;
    margin-right: 3vw;
}

.buttonStyle2:hover {
    background: rgb(212, 212, 212);
}

/**/
.separator {

    border-bottom: 1px solid #EDEDED;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 2vh;
}
.separator1 {

    border-bottom: 1px solid #EDEDED;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    margin-top: 0.1vh;
}