<ion-content class="contMain">
    <section class="header">
        <div class="backbtn" (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
        <div class="title">
            Confirmar y Pagar
        </div>
    </section>
    <section class="container1">
        <div class="images">
            <img [src]="booking?.room?.photos" alt="">
        </div>
        <div class="contInfo">
            <h3 class="titleImg">{{booking?.room?.type}}</h3>
            <p class="infoImg">{{booking?.room?.description}}</p>
        </div>
    </section>
    <div class="separator"></div>
    <section class="container2">
        <h3 class="titleCont2">Tu reserva</h3>
        <section class="editCont">
            <div class="edit">
                <span class="dateEdit">Fechas</span>
                <p *ngIf="booking" class="infoEdit">{{booking!.dateIn|date:"dd"}}-{{booking!.dateOut|date:"dd"}} de {{booking!.dateOut|date:"MMM"}} de {{booking!.dateOut|date:"yyyy"}}</p>
            </div>
            <!-- <div class="editBtn">  
        <ion-button class="buttonStyle">Editar</ion-button>
      </div> -->
        </section>
        <section class="editCont">
            <div class="edit">
                <span class="dateEdit">Huéspedes</span>
                <p class="infoEdit">{{booking?.numberGuests}} Huéspedes</p>
            </div>
            <!-- <div class="editBtn">
        <ion-button class="buttonStyle">Editar</ion-button>
      </div> -->
        </section>
    </section>
    <div class="separator"></div>
    <section class="container3">
        <h3 class="titleCont3">Detalles de Precio</h3>
        <div class="price">
            <p class="infoPrice">{{booking?.room?.price| number : '1.0-0'}} x {{day}} noches</p>
            <p class="infoPrice2">{{tmpPrice}}</p>
        </div>
        <div class="price">
            <p class="infoPrice">IVA incluido (12%)</p>
            <p class="infoPrice2">{{iva| number : '1.0-0'}}</p>
        </div>
        <div class="price">
            <p class="infoPrice3">Total en USD</p>
            <p class="infoPrice4">{{booking?.price| number : '1.0-0'}}</p>
        </div>
    </section>
    <div class="separator"></div>
    <section class="container4">
        <h3 class="titleCont2">Elige cómo quieres pagar</h3>

        <div class="wrapper">
            <ion-list lines="none">
                <ion-list>
                    <ion-radio-group [(ngModel)]="payment" value="payment">
                        <ion-list-header>
                            <ion-label class="modalTitle">Pagar con</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <ion-label class="modalLabel">Paypal</ion-label>
                            <ion-radio slot="end" value="paypal"></ion-radio>
                        </ion-item>
                        <div class="separator1"></div>
                        <ion-item>
                            <ion-label class="modalLabel">TransferWise</ion-label>
                            <ion-radio slot="end" value="TransferWise"></ion-radio>
                        </ion-item>
                        <div class="separator1"></div>
                    </ion-radio-group>
                </ion-list>

            </ion-list>
            <div class="btnModal">
                <!-- <ion-button class="buttonStyle" (click)="modal.dismiss()">Cancelar</ion-button> -->
                <ion-button class="buttonStyle2" (click)="goPayment()">Continuar</ion-button>
            </div>
        </div>
    </section>
</ion-content>