<ion-content class="contMain">
  <section class="header">
    <div class="backbtn">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    <div class="title">
      Confirmar y Pagar
    </div>
  </section>
  <section class="container1">
    <div class="images">
      <img src="assets/images/Individual_1/individual11.jpg" alt="">
    </div>
    <div>
      <h3 class="titleImg">FAMILIAR</h3>
      <p class="infoImg">Habitacion doble con vsita a la playa</p>
    </div>
  </section>
  <div class="separator"></div>
  <section class="container2">
    <h3 class="titleCont2">Tu reserva</h3>
    <section class="editCont">
      <div class="edit">
        <span class="dateEdit">Fechas</span>
        <p class="infoEdit">3-4 de jul. de 2022</p>
      </div>
      <div class="editBtn">  
        <ion-button class="buttonStyle">Editar</ion-button>
      </div>
    </section>
    <section class="editCont">
      <div class="edit"> 
        <span class="dateEdit">Huéspedes</span>
        <p class="infoEdit">2 huespedes</p>
      </div>
      <div class="editBtn">
        <ion-button class="buttonStyle">Editar</ion-button>
      </div>
    </section>
  </section>
  <div class="separator"></div>
  <section class="container3">
    <h3 class="titleCont3">Detalles de Precio</h3>
    <div class="price">
      <p class="infoPrice">$36.00 x 3 noches</p>
      <p class="infoPrice2">$108.00</p>
    </div>
    <div class="price">
      <p class="infoPrice">IVA incluido (12%)</p>
      <p class="infoPrice2">$12.96</p>
    </div>
    <div class="price">
      <p class="infoPrice3">Total en USD</p>
      <p class="infoPrice4">$120.96</p>
    </div>
  </section>
  <div class="separator"></div>
  <section class="container4">
    <h3 class="titleCont2">Elige cómo quieres pagar</h3>
    <div class="selectPayment">
      <span>Plataforma de pago</span>
    </div>
  </section>
</ion-content>
